<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the financing page</h1>
    <p>This will contain the information about how to get finnacing and how we can help and the things involved and locations and banks or credit unions near the place</p>
</body>
</html>